<div class="container border mt-3">
  <div class="container">
    <form class="mt-3 mb-3">
      <div class="row justify-content-start">
        <div class="col">
          <input type="email" class="form-control" id="searchTitle" placeholder="标题"
                 name="searchTitle" [(ngModel)]="searchParam.title">
        </div>
        <div class="col">
          <input type="email" class="form-control" id="searchKey" placeholder="账号"
                 name="searchKey" [(ngModel)]="searchParam.key">
        </div>
        <div class="col">
          <input type="email" class="form-control" id="searchRemark" placeholder="备注"
                 name="searchRemark" [(ngModel)]="searchParam.remark">
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary me-3" (click)="query()">搜索</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#antidoteDetailModal"
                  (click)="showAntidoteDetail('add')">
            新增
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <table class="table table-hover border">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">标题</th>
        <th scope="col">账号</th>
        <th scope="col">备注</th>
        <th scope="col">操作</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let antidoteItem of antidoteList let i = index">
        <td data-bs-toggle="modal" data-bs-target="#antidoteDetailModal"
            (click)="showAntidoteDetail('update', antidoteItem.id)">
          {{(pageNum - 1) * pageSize + i + 1}}</td>
        <td data-bs-toggle="modal" data-bs-target="#antidoteDetailModal"
            (click)="showAntidoteDetail('update', antidoteItem.id)">
          {{antidoteItem.title}}</td>
        <td data-bs-toggle="modal" data-bs-target="#antidoteDetailModal"
            (click)="showAntidoteDetail('update', antidoteItem.id)">
          {{antidoteItem.key}}</td>
        <td data-bs-toggle="modal" data-bs-target="#antidoteDetailModal"
            (click)="showAntidoteDetail('update', antidoteItem.id)">
          {{antidoteItem.remark}}</td>
        <td>
          <button type="button" class="btn btn-outline-success btn-sm border-0" data-bs-toggle="modal"
                  data-bs-target="#antidoteDetailModal" (click)="showAntidoteDetail('update', antidoteItem.id)">编辑
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm border-0" data-bs-toggle="modal"
                  data-bs-target="#antidoteDetailModal" (click)="showAntidoteDetail('remove', antidoteItem.id)">删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="shouPrevious" (click)="previousPage()">
              <a class="page-link" href="javascript:" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <div *ngIf="prePageNum > 0">
              <li class="page-item">
                <a class="page-link" href="javascript:" (click)="jump(prePageNum)">
                  {{prePageNum}}
                </a>
              </li>
            </div>
            <li class="page-item active"><a class="page-link" href="javascript:" (click)="jump(pageNum)">{{pageNum}}</a></li>
            <div *ngIf="nextPageNum > 0">
              <li class="page-item">
                <a class="page-link" href="javascript:" (click)="jump(nextPageNum)">
                  {{nextPageNum}}
                </a>
              </li>
            </div>
            <li class="page-item" [ngClass]="shouNext" (click)="nextPage()">
              <a class="page-link" href="javascript:" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-2">
        <p>共 {{total}} 条, {{pages}} 页</p>
      </div>
    </div>
  </div>
</div>

<!-- 新增、编辑Modal -->
<div class="modal fade" id="antidoteDetailModal" tabindex="-1" aria-labelledby="antidoteDetailModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="antidoteDetailModalLabel">{{modalPrefix}}解药详情</h1>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="antidoteTitle" class="form-label">标题</label>
          <input type="text" class="form-control" id="antidoteTitle" name="antidoteTitle"
                 [(ngModel)]="antidote.title" [disabled]="disabled">
        </div>
        <div class="mb-3">
          <label for="antidoteKey" class="form-label">账号</label>
          <input type="text" class="form-control" id="antidoteKey" name="antidoteKey"
                 [(ngModel)]="antidote.key" [disabled]="disabled">
        </div>
        <div class="mb-3">
          <label for="antidoteVal" class="form-label">解药</label>
          <input type="text" class="form-control" id="antidoteVal" name="antidoteVal"
                 [(ngModel)]="antidote.val" [disabled]="disabled">
        </div>
        <div class="mb-3">
          <label for="antidoteRemark" class="form-label">备注</label>
          <textarea class="form-control" id="antidoteRemark" rows="3" name="antidoteRemark"
                    [(ngModel)]="antidote.remark" [disabled]="disabled"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button id="antidoteDetailButton" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#antidoteDetailModal" (click)="onSubmit()">保存
        </button>
      </div>
    </div>
  </div>
</div>
