<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">小日子</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angular/note">随笔</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angular/antidoteList">解药</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angular/antidoteList">还神丹</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            日志
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">工作日志</a></li>
            <li><a class="dropdown-item" href="#">项目日志</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">其他日志</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>

<!-- 登录框开始 -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">请登录</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="loginAccount" class="form-label">账号</label>
            <input type="text" class="form-control" id="loginAccount" name="account"
                   [(ngModel)]="loginReq.account">
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">密码</label>
            <input type="password" class="form-control" id="loginPassword" name="password"
                   [(ngModel)]="loginReq.password">
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">登录</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 登录框结束 -->
