<div class="container">
  <div class="sub-container">
    <div class="row">
      <div class="col text-center">
        <img class="img" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 id="floatingTitle"
                 placeholder="title"
                 name="title"
                 [(ngModel)]="antidoteReq.title">
          <label for="floatingTitle">Title</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 id="floatingKey"
                 placeholder="key"
                 name="key"
                 [(ngModel)]="antidoteReq.key">
          <label for="floatingKey">Key</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input type="password"
                 class="form-control"
                 id="floatingVal"
                 placeholder="Password"
                 name="val"
                 [(ngModel)]="antidoteReq.val">
          <label for="floatingVal">Password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="form-control" id="remark" [(ngModel)]="antidoteReq.remark" placeholder="remark"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary w-100" (click)="onSubmit()" >提交</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="validationErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">字段校验异常</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 支持换行展示 -->
        <p style="white-space: pre-line">{{ errorMsg }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
