<div class="container">
  <div class="sub-container">
    <div class="row">
      <div class="col text-center">
        <img class="img" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 id="floatingPhone"
                 placeholder="phone"
                 name="phone"
                 [(ngModel)]="loginReq.phone">
          <label for="floatingPhone">Phone</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input type="password"
                 class="form-control"
                 id="floatingPassword"
                 placeholder="Password"
                 name="password"
                 [(ngModel)]="loginReq.password">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary w-100"
                type="submit"
                (click)="onSubmit()">
          登录
        </button>
      </div>
    </div>
  </div>
</div>
