<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrx.simple.life.eden.infrastructure.mapper.extend.AntidotePoExtMapper">
    <resultMap id="BaseResultMap"
               extends="com.yrx.simple.life.eden.infrastructure.mapper.AntidotePoMapper.BaseResultMap"
               type="antidotePo"/>

    <insert id="insert" parameterType="com.yrx.simple.life.eden.infrastructure.po.AntidotePo" useGeneratedKeys="true"
            keyProperty="id">
        insert into antidote (id, title, `key`,
                              val, remark, create_time,
                              update_time)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR},
                #{val,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="list" resultType="com.yrx.simple.life.eden.domain.entity.Antidote">
        select *
        from antidote
        <where>
            <if test="title != null and title != ''">
                and title like concat(#{title,jdbcType=VARCHAR}, '%')
            </if>
            <if test="key != null and key != ''">
                and `key` like concat(#{key,jdbcType=VARCHAR}, '%')
            </if>
            <if test="remark != null and remark != ''">
                and remark like concat(#{remark,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>
</mapper>