<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrx.simple.life.eden.infrastructure.mapper.extend.AntidotePoExtMapper">
  <resultMap id="BaseResultMap" extends="com.yrx.simple.life.eden.infrastructure.mapper.AntidotePoMapper.BaseResultMap"  type="antidotePo"/>

  <insert id="insert" parameterType="com.yrx.simple.life.eden.infrastructure.po.AntidotePo" useGeneratedKeys="true" keyProperty="id">
    insert into antidote (id, title, `key`,
      val, remark, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{val,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>